@charset "UTF-8";
/* Inicio: Resets */
/* Remueve el number spin del input */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, 
input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, 
[type=tel].form-control:focus, [contenteditable].form-control:focus {
      box-shadow: inset 0 -1px 0 #F8EFBA;
}
/* Fin: Resets */

/* Inicio: Estilos Generales */
section {
    height: 100vh;
}

.section1 {
    background: rgba(131, 213, 236, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(131, 213, 236, 1) 0%, rgba(100, 199, 227, 1) 41%, rgba(52, 178, 213, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(131, 213, 236, 1)), color-stop(41%, rgba(100, 199, 227, 1)), color-stop(100%, rgba(52, 178, 213, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(131, 213, 236, 1) 0%, rgba(100, 199, 227, 1) 41%, rgba(52, 178, 213, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(131, 213, 236, 1) 0%, rgba(100, 199, 227, 1) 41%, rgba(52, 178, 213, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(131, 213, 236, 1) 0%, rgba(100, 199, 227, 1) 41%, rgba(52, 178, 213, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(131, 213, 236, 1) 0%, rgba(100, 199, 227, 1) 41%, rgba(52, 178, 213, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83d5ec', endColorstr='#34b2d5', GradientType=1);
}
/* Fin: Estilos Generales */

/* Inicio: Input */
#ingreso .form-control {
    border-top: 0;
    border-bottom: 1px solid #000;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

#ingreso .form-control:focus {
    border-bottom: 1px solid #F8EFBA;
}

#ingreso input::placeholder, #ingreso input {
    color: #FFF;
}
/* Fin: Input */